
.icon-chart:before { content: '\e800'; } /* '' */
.icon-th:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-database:before { content: '\e803'; } /* '' */
.icon-adult:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-arrows-ccw:before { content: '\e806'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
